#ignore generated gradle folders
.gradle/
gradle/

.idea/
out/
out/*
out/**

src/main/resources/H2/schedulerDB.mv.db

#If someone uses a gradle wrapper -> ignore the execution files
gradlew
gradlew.bat